
:root {
    --color-primary: #101820;
    --color-secondary: #FFFFFF;
    --color-accent: #FEE715;
}

.heading-casestudies {
    color: var(--color-secondary);
    margin: 0 4rem;
}

.case-study {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin: 4rem 0rem;
    text-decoration: none;
}

.case-study-img {
    width: calc(48vw - 8rem);
    max-width: 40rem;
    border-radius: 2rem;
}

.case-study-text {
    max-width: 20rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

.case-study-skills {
    color: var(--color-secondary);
}

.case-study-button {
    padding: 0 2rem;
    background-color: var(--color-accent);
    color: var(--color-primary);
    border-radius: 1rem;
    margin-right: auto;
    margin-top: 2rem;
}

.case-study-title {
    color: var(--color-secondary);
    margin: 0;
}

.case-study-desc {
    color: var(--color-secondary);
}

@media only screen and (max-width: 1100px) {
    .heading-casestudies {
        margin: 0;
        text-align: center;
    }
    .case-study {
        display: flex;
        align-items: center;
        margin: 4rem 0;
    }
    .case-study-img {
        width: 60vw;
    }
}
@media only screen and (max-width: 600px) {
    .case-study-img {
        width: 90vw;
    }
}