
:root {
    --color-primary: #101820;
    --color-secondary: #FFFFFF;
    --color-accent: #FEE715;
}

footer {
    display: grid;
    grid-template-rows: auto auto;
    background-color: var(--color-secondary);
    width: 100vw;
    justify-items: center;
}

.footer-links {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-content: center;
    margin: 4rem 2rem;
    max-width: 100rem;
    justify-items: center;
}

.footer-heading {
    color: var(--color-primary);
    margin: 0;
}

.footer-linkgroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-link {
    text-decoration: none;
    color: var(--color-primary);
    margin: 1rem 0;
}

.footer-link-text {
    margin: 0;
    line-height: 2rem;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    margin: 0rem 2rem;
    justify-content: space-between;
    max-width: 90rem;
}

.footer-social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-social-link {
    margin: 0 1rem;
    text-decoration: none;
}

.footer-social-img {
    height: 2rem;
    width: 2rem;
}

@media only screen and (max-width: 1100px) {
    .footer-links {
        margin: 2rem;
    }
    #footer-link-email-text {
        word-wrap: break-word;
        width: 15rem;
        line-height: 2rem;
    }
    .footer-bottom {
        flex-direction: column;
        align-items: center;
        margin: 1rem 0;
    }
}

@media only screen and (max-width: 600px) {
    .footer-links {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        align-items: flex-start;
        grid-row-gap: 4rem;
        margin: 2rem auto;
    }
}