:root {
    --color-primary: #101820;
    --color-secondary: #FFFFFF;
    --color-accent: #FEE715;
}


.hero-background-image {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
    width: 100vw;
}

.hero-background-gradient {
    background: var(--color-primary);
    background: -webkit-linear-gradient(bottom, #101820, #10182000);
    background: -moz-linear-gradient(bottom, #101820, #10182000);
    background: linear-gradient(to top, #101820, #10182000);
    position: absolute;
    left: 0;
    top: 50vh;
    z-index: -1;
    height: 50vh;
    width: 100vw;
}

.hero {
    max-width: 100rem;
    margin: 0 auto;
    display: grid;
    width: calc(100vw - 16rem);
    grid-column-gap: 1rem;
    grid-template-rows: 15rem calc(100vh - 15rem - 15rem - 5rem) 15rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "nameprof nameprof mockups mockups"
                         "cta cta mockups mockups"
                         "hero-creds hero-experience whoami whoami";
}

.intro {
    grid-area: nameprof;
    width: auto;
    height: auto;
    align-self: center;
}

.firstname {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 6rem;
    line-height: 6rem;
    color: var(--color-secondary);
    margin-right: 2rem;
}

.lastname {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    line-height: 4rem;
    color: var(--color-secondary);
}

.uxui {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 100;
    font-size: 3rem;
    line-height: 3rem;
    color: var(--color-secondary);
    margin-right: 1rem;
}

.developer {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 100;
    font-size: 2rem;
    color: var(--color-secondary);
}

/* Mockup Styles */

.mockups {
    background-image: url("../images/icons/mockup-background.svg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    grid-area: mockups;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "mockup1 mockup2";
    height: auto;
    align-self: center;
    justify-self: flex-end;
    padding: 2rem;
}

.mockup1 {
    width: auto;
    height: calc(100vh - 15rem - 15rem - 5rem);
    max-height: 26rem;
    grid-area: mockup1;
    justify-self: flex-end;
    align-self: flex-start;
}

.mockup2 {
    width: auto;
    height: calc(100vh - 15rem - 15rem - 5rem);
    max-height: 26rem;
    grid-area: mockup2;
}

.cta {
    grid-area: cta;
    align-self: center;
    justify-self: flex-start;
    background-color: var(--color-accent);
    color: #101820;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.24rem;
}

.creds {
    grid-area: hero-creds;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    align-items: center;
    justify-content: center;
    max-width: 24rem;
    justify-self: flex-start;
}

.degree {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
}

.certificate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gt-logo {
    width: 11rem;
}

.degree-description {
    color: var(--color-secondary);
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 100;
    font-size: 2.5rem;
}

.certificate-description {
    color: var(--color-secondary);
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 100;
    font-size: 2.5rem;
}

.experience {
    grid-area: hero-experience;
    align-self: center;
    justify-self: flex-start;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "casestudies programming";
}

#casestudies {
    grid-area: casestudies;
}

#programming {
    grid-area: programming;
}

.exp-div {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 3rem 4rem;
    grid-template-areas: "exp-img exp-img"
                         "exp-num exp-desc";
}

.exp-img {
    grid-area: exp-img;
    width: 6rem;
    align-self: center;
    filter: invert(1.0);
}

.exp-num {
    grid-area: exp-num;
    margin: 0;
    color: var(--color-secondary);
}

.exp-desc {
    grid-area: exp-desc;
    color: var(--color-secondary);
}

.whoami {
    max-width: 30rem;
    justify-self: flex-end;
    grid-area: whoami;
    color: var(--color-secondary);
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "wai-title wai-icons"
                         "wai-description wai-description";
}

.whoami-title {
    grid-area: wai-title;
    margin: auto 0;
}

.whoami-desc {
    grid-area: wai-description;
}

.skills-icons {
    grid-area: wai-icons;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
}

.skill-icon {
    filter: invert(1.0);
    width: auto;
    height: 2rem;
    margin: auto;
}

@media only screen and (max-width: 1100px) {
    .hero {
        margin: 0 auto;
        display: grid;
        grid-template-rows: 12rem calc(100vh - 12rem - 12rem - 5rem) 12rem 15rem 15rem 15rem;
        grid-template-columns: 1fr;
        grid-template-areas: "nameprof"
                             "mockups"
                             "cta"
                             "hero-creds"
                             "hero-experience"
                             "whoami";
    }
    .cta {
        justify-self: center;
    }
    .creds {
        justify-self: center;
    }
    .degree {
        justify-self: center;
    }
    .experience {
        align-self: center;
        justify-self: center;
    }
    .whoami {
        justify-self: center;
    }
    .mockups {
        justify-self: center;
    }
    .mockup1 {
        width: auto;
        height: calc(100vh - 12rem - 12rem - 5rem - 2rem);
        justify-self: flex-end;
        align-self: center;
    }
    .mockup2 {
        width: auto;
        height: calc(100vh - 12rem - 12rem - 5rem - 2rem);
        align-self: center;
    }
    .intro {
        align-self: center;
        text-align: center;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1100px) and (max-height: 450px) {
    .mockups {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    header {
        margin: 0 2rem;
    }
    .creds {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 1rem;
        grid-column-gap: 0rem;
    }
    .certificate {
        flex-direction: column-reverse;
    }
    .hero {
        margin: 0 auto;
        display: grid;
        grid-template-rows: 18rem calc(100vh - 18rem - 5rem - 10rem) 10rem 28rem 15rem 20rem;
        grid-template-columns: 1fr;
        grid-template-areas: 
                             "nameprof"
                             "mockups"
                             "cta"
                             "hero-creds"
                             "hero-experience"
                             "whoami"
    }
    .whoami {
        display: grid;
        justify-content: center;
        grid-template-rows: 5rem auto auto;
        grid-template-columns: auto;
        grid-template-areas: 
                             "wai-icons"
                             "wai-title"
                             "wai-description"
    }
    .skills-icons {
        grid-gap: 2rem;
    }
    .mockup1 {
        width: auto;
        height: calc(100vh - 20rem - 5rem - 8rem - 5rem);
        max-height: 10rem;
    }
    .mockup2 {
        width: auto;
        height: calc(100vh - 20rem - 5rem - 8rem - 5rem);
        max-height: 10rem;
    }
    .intro {
        align-self: center;
        text-align: center;
        max-width: 15rem;
        justify-self: center;
    }
}