html {
    font-size: 14px;
}

body {
    background-color: #101820;
    overflow: scroll;
    margin: 0;
    width: 100vw;
}

h1 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    font-size: 4rem;
}

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.24rem;
}

h3 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    font-size: 1rem;
}

h4 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-size: 1rem;
}

p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.62rem;
}

.belowthefold {
    padding: 4rem 0;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.belowthefold-container {
    display: flex;
    flex-direction: column;
    max-width: 100rem;
}

/* Tablet View */
@media only screen and (max-width: 1100px) {
    .regular {
        flex-direction: column;
    }
    .reverse {
        flex-direction: column-reverse;
    }
}

/* Mobile View */
@media only screen and (max-width: 600px) {
    .regular {
        flex-direction: column;
    }
    .reverse {
        flex-direction: column-reverse;
    }
}